body {
    background-color: rgb(235, 229, 237);
    margin-bottom: 60px;
  }
  
  h1 {
    color: rgb(116, 12, 116);
    text-align: center;
    margin-top: 60px;
    
  }

  p {
    margin-top: 50px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
  }
  .column {
    margin-left: 80px;
    float: left;
    width: 30%;
    padding: 5px;
    margin: 5px;
    border: 1px solid #ccc;
   

  }

  .columnhome {
    margin-left: 80px;
    float: left;
    width: 30%;
    border: 1px solid #ccc;
  }
  
  /*second pages*/
  .navbar {
    width: 100%;
    background-color: #de73b9;
    overflow: auto;
    justify-content: space-between;
    padding: 20px;
  }
  .home{
    font-family: "Home", sans-serif;
    font-size: large;
    margin-right: 20px;
  }
  .homecaption{
    font-family: "Home", sans-serif;
    font-size: large;
  }
  table, th, td {
    border:1px solid black;
  }
